
.container{
    
   padding: 25px;
    background-color: black;
}

#mdiv{
    
    background-color: #dbdddf;
     display: block;
    margin: auto;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    width: 525px;
}

#textaria::placeholder{
    color: blue;
    font-size: 2rem;
    
}

.input2div{
    background-color: white;
    display: inline-flex;
    padding: 2%;
    margin-left: 10%;margin-right: 10%;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(84, 84, 84, 0.471);
  
}

.mb-3{
    margin-left: 5%;
    margin-right: 5%;
   
}
.inp-form:active{
      border-color: aqua;
}